<footer>
  <div class="container">
    <div class="footer-content">
      <div class="social-links">
        <a href="https://github.com/yourusername" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://linkedin.com/in/yourprofile" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://twitter.com/yourhandle" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
      <p style="color: white;">&copy; {{currentYear}} Shivam Singh. All rights reserved.</p>
      <button class="scroll-top" (click)="scrollToTop()" title="Scroll to top">
        <i class="fas fa-arrow-up"></i>
      </button>
    </div>
  </div>
</footer>