<footer>
    <div class="container">
      <div class="footer-content">
        <div class="social-links">
          <a href="https://github.com/yourusername" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://linkedin.com/in/yourprofile" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://twitter.com/yourhandle" target="_blank"><i class="fab fa-twitter"></i></a>
        </div>
        <p>&copy; {{currentYear}} Your Name. All rights reserved.</p>
      </div>
    </div>
  </footer>