<header>
    <nav class="navbar">
      <div class="logo">
        <a routerLink="/">Shivam Singh</a>
      </div>
      <button class="mobile-menu" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <ul class="nav-links" [class.active]="isMenuOpen">
        <li><a routerLink="/home" routerLinkActive="active" >Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      </ul>
    </nav>
  </header>